---
import { Liquid } from "liquidjs";
import Flow from "../components/Flow";
import "../styles/global.css";
import MyButton from '../components/Button'

const engine = new Liquid();

const liquid_template = `<header class="app-header">{{ title }}</header>`;
const liquid_context = { title: "Graphkend - React Flow Example" };

const html = await engine.parseAndRender(liquid_template, liquid_context);

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Graphkend</title>
  </head>

  <body>
    <div class="app">
      <!-- <Fragment set:html={html} /> -->
      <!-- <Flow client:load /> -->
       <MyButton></MyButton>
    </div>
  </body>
</html>
